<form action="{{ .action }}" method="post">
  
  {{with $field := field "category.Name" .}}
  <div class="form-group {{if $field.Error}}has-error{{end}}">
    <label class="control-label" for="{{$field.Name}}">Title</label>
    <input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
    {{if $field.Error}}<p class="help-block">{{$field.Error}}</p>{{end}}
  </div>  
  {{end}}

  {{with $field := field "category.Slug" .}}
  <div class="form-group {{if $field.Error}}has-error{{end}}">
    <label class="control-label" for="{{$field.Name}}">Slug</label>
    <input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
    {{if $field.Error}}<p class="help-block">{{$field.Error}}</p>{{end}}
  </div>  
  {{end}}

  <input type="submit" class="btn btn-primary" value="{{ .submitButton }}"> 
</form>